<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dmitriy Ivkov</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./css/styles.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <img id="floatingElem" src="./assets/bsc-logo.png" alt="bsc-logo">    
   <div id="body-wrapper">
      <div style="display:flex; justify-content:center; padding:25px">
        <h4 style="font-size: 45px;">Dmitriy Ivkov</h4>
      </div>
      <div id="main-content">
        <div style="display:flex;">
          <div style="display: flex;justify-content: center;">
            <img src="./assets/dmitriyI.png" id="dimaImg"/>
          </div>
          <div style=" padding-left:6%;padding-right:6%;padding-top:5px"> 
            <h5 style="font-size: 25px; margin-bottom: 15px;">
              Hi, Im Dima. Im sophmore at Belmont High School who is passionate about programming and data science. I also enjoy playing guitar and mountain biking.
              <!-- <br> -->
              <br><br>
              If you would like to contact email me at Dmitriyivkov@belmontcodes.com
            </h5>

            <div style="width:100%; display: flex; justify-content: center; flex-flow: wrap; margin-top:25px">
              <button onclick="window.open('https://www.linkedin.com/in/dmitriy-i-55b29b222/', '_blank')">LinkedIn</button>
              <button onclick="window.open('https://github.com/DIvkov575', '_blank')">Github</button>
              <button onclick="window.open('https://docs.google.com/document/d/1kOcIqlnLpLPGqYxleq4xqndyte_t0M0C2TEFK6ie2ss/edit?usp=sharing', '_blank')">Resume</button>
              <button  id="copyButton" class="b2" onclick="document.querySelector('form').scrollIntoView()">Contact</button>
            </div>
          </div>
        </div>
      </div>
      <div id="content-wrapper">
        <div class="content-element2">
          <div class="content-element">
            <div class="square-image-wrapper">
              <img style="margin:12.5px; margin-left:5px; width:200px; height:200px" src="./assets/pngegg.png" alt="Tamr-Toolbox">
            </div>
            <div>
              <a href=""><h4 onclick="window.open('https://github.com/Datatamer/tamr-toolbox')">Internship at Tamr </h4></a>
              <h5>While interning at Tech-Startup specializing in data-mastery, Tamr, I helped contribute to Tamr-toolbox (Tamr's set of functions for common data pipelines/workflows). I was able to write such pipelines, tests, and docs for those functions.<h5>
            </div>
          </div>
        </div>
        <div class="content-element2">
          <div class="content-element">
            <div class="square-image-wrapper">
              <img style="margin:12.5px; margin-left:5px; width:200px; height:200px" src="./assets/sp-logo.png" alt="Sprinter PRint Logo">
            </div>
            <div>
              <a href=""><h4 onclick="window.open('https://sprinterprint3d.com/')">Created 3d printing business </h4></a>             
              <h5>Designed, revised, and printed plastic products for sale. Maintained, tuned, and debugged 3d printers used for 3d printing. Managed stores on Ebay, Amazon, and walmart. Created facebook page and instagram for webpresence and advertising. Learned to launch ad campaigns via facebook ads.<h5>
            </div>
          </div>
          </div>
        <div class="content-element2">
          <div class="content-element">
            <div class="square-image-wrapper">
              <img style="margin:40px; margin-right:30px; width:150px; height:150px" src="./assets/bsc-logo.png" alt="Belmont School of Code">
            </div>
            <div>
              <a href=""><h4 onclick="window.open('https://belmontcodes.com/')">Started BSC programming School</h4></a>
              <h5>Designed and programmed a website in Typescript and Node, using the ThreeJs rendering library for the frontend. Created material for a multi-level python programming course. Taught students remotely and developed customer-communication skills through communicating with parents. Created web presence with Facebook, Instagram, and Facebook advertising campaigns. <h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer" style="display:flex; justify-content:center;">
      <h4 style="font-size:35px">Dmitriy Ivkov</h4>
    </div>


    <script type="module" src="/main.js"></script>
  </body>
</html>

